*.pyc
*.pyo
*.pyd
.git
.gitignore
.github/
.pytest_cache/
.venv/
.vscode/
backup.postman_dump/
bodzify_api/test/
bodzify_api/fixtures/users/ci_test/
bodzify_api/fixtures/users/dev/
bruno/
env/dev/
__pycache__
pytest.ini