
*.pyc

log/myfreemp3Scrapper/

bin/

lib/

media/libraries/*

media/temp/*

share/

pyvenv.cfg

lib64

bodzify_api/test/view/track/library/post/sample/post_Big_File 1-01 - Shine On You Crazy Diamond, Parts I–V.flac