
*.pyc

db.sqlite3

*.mp3

log/myfreemp3Scrapper/

bin/

lib/

media/

/bodzify_api/test/sample/Big_File 1-01 - Shine On You Crazy Diamond, Parts I–V.flac

share/

pyvenv.cfg

lib64

bodzify_api/test/view/track/library/post/sample/Big_File 1-01 - Shine On You Crazy Diamond, Parts I–V.flac
