asgiref==3.5.2
bcrypt==3.1.7
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
distro==1.4.0
httplib2==0.14.0
Markdown==3.4.1
oauthlib==3.1.0
PyJWT==2.5.0
pymacaroons==0.13.0
python-dateutil==2.7.3
requests==2.22.0
simplejson==3.16.0
pathlib==1.0.1
mutagen==1.46.0
shortuuid==1.0.9
drf-spectacular==0.24.2
drf-spectacular-sidecar==2022.11.1
virtualenv==20.16.7
Django==4.1
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.7.2
django-database-view==0.3.0
django-extensions==3.2.1
psycopg2-binary==2.9.5
werkzeug==2.2.2
pyOpenSSL==22.1.0
djangorestframework-recursive==0.1.2
coverage==6.5.0
pytest==7.2.0
pytest-django==4.5.2
flake8==6.0.0