DOCKERHUB_USERNAME=***

ENV=DEV
DEBUG=true
EXTERNAL_DIRS_NEEDED=false
AUDIO_META_ANALYSE_NEEDED=true
IS_APP_EXPOSED=false
DJANGO_SECRET_KEY=***
ACOUSTID_API_KEY=***

DB_CONTAINER_NAME=***
DB_SUPERUSER_NAME=***
DB_SUPERUSER_PASSWORD='***'
DB_BODZIFY_API_DB_NAME=***
DB_BODZIFY_API_USERNAME=***
DB_BODZIFY_API_USER_PASSWORD='***'
DB_HOST=localhost
DB_PORT=***
DB_DATA_DIR=/var/lib/postgresql/data/

AUDIO_FINGERPRINTER_IMAGE_REPO=bodzify-audio-fingerprinter-flask
AUDIO_FINGERPRINTER_IMAGE_TAG=latest
AUDIO_FINGERPRINTER_PORT=6000
AUDIO_FINGERPRINTER_POOL_DIR_SYMLINK_TARGET=/app/pool/
AUDIO_FINGERPRINTER_POST_ENDPOINT=fingerprint-audio
