ENV=DEV
DEBUG=TRUE
SECRET_KEY=***
DB_BODZIFY_API_DB_NAME=***
DB_BODZIFY_API_USERNAME=***
DB_BODZIFY_API_USER_PASSWORD=***
DB_URL=localhost
DB_PORT=***
ACOUSTID_API_KEY=***
AUDIO_FINGERPRINTER_PORT=***