ENV=DEV

APP_NAME=bodzify_api
APP_VERSION=v0.0.1

DOCKERHUB_USERNAME=mignot
DOCKER_NETWORK_NAME=bodzify-network

DEBUG=true
DB_IS_NEEDED=true
APP_IS_EXPOSED=false

AUDIO_META_ANALYSE_IS_NEEDED=true
TMP_UPLOADED_FILES_DEFAULT_INTERNAL_DIR=tmp-uploaded-files/
ACOUSTID_API_KEY=***

MEDIA_DEFAULT_INTERNAL_DIR=media/
LIBRARIES_DIR_NAME=libraries

STATIC_FILES_ARE_NEEDED=true
STATIC_FILES_DEFAULT_INTERNAL_DIR=static-files/

DJANGO_LOGS_ARE_NEEDED=true
DJANGO_LOG_DEFAULT_INTERNAL_DIR=log/
DJANGO_LOG_GENERAL_FILENAME=general.log
DJANGO_LOG_INFO_FILENAME=info.log
DJANGO_LOG_REQUESTS_FILENAME=requests.log
DJANGO_LOG_REQUESTS_DEBUG_FILENAME=requests.debug.log
DJANGO_LOG_EXCEPTIONS_FILENAME=exceptions.log
DJANGO_LOG_DJANGO_FILENAME=django.log
DJANGO_LOG_APP_FILENAME=app.log

DB_CONTAINER_NAME=DB
DB_IMAGE_REPO=bodzify-db-postgres
DB_VERSION=v1.0.0
DB_DATA_DIR=/var/lib/postgresql/data/
DB_SUPERUSER_NAME=postgres
DB_SUPERUSER_PASSWORD='***'
DB_BODZIFY_API_DB_NAME=***
DB_BODZIFY_API_USERNAME=***
DB_BODZIFY_API_USER_PASSWORD='***'
DB_HOST=localhost
DB_PORT=***

AFP_CONTAINER_NAME=AFP
AFP_IMAGE_REPO=bodzify-audio-fingerprinter-flask
AFP_VERSION=v1.0.0
AFP_DOCKERIZED_POOL_DIR=/tmp/pool/
AFP_PORT=***
AFP_POST_ENDPOINT=fingerprint-audio
