ENV=DEV
DEBUG=TRUE
DJANGO_SECRET_KEY=***
LOG_DIR=***

DB_CONTAINER_NAME=***
DB_SUPERUSER_NAME=***
DB_SUPERUSER_PASSWORD='***'
DB_BODZIFY_API_DB_NAME=***
DB_BODZIFY_API_USERNAME=***
DB_BODZIFY_API_USER_PASSWORD='***'
DB_HOST=localhost
DB_PORT=***

ACOUSTID_API_KEY=***
AUDIO_FINGERPRINTER_PORT=***